# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
*.iml

# Build
/build/
/bin/
/out/
*.ap_

# Preserve APK files in тутапк folder
!тутапк/*.apk
!тутапк/*.aab

# Android/Gradle
.gradle/
local.properties
**/captures/

# NDK
.cxx/
externalNativeBuild/
